@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";

@import "base/grid";

#logo {
  position: absolute;
  top: 0;
  left: $gutter;
  background-color: $color-white;
  padding: 10px;

  img {
    width: 150px;
  }
}

.block {
  padding: $base-spacing * 3 0;

  @include media($mobile) {
    text-align: center;
  }
}

.block--image {
  background: no-repeat center center;
  background-size: cover;
  text-align: center;
}

.block--cream {
  background-color: $color-cream;
}

.block--navy {
  background-color: $color-navy;
  color: $color-white;
}

.block--olive {
  background-color: $color-olive;
  color: $color-white;
}

.hero {
  padding: $base-spacing * 8 0;
  @include retina-image('hero', cover, 'jpg', null, '-2x', true);
  min-height: 400px;

  @include media($tablet-up) {
    min-height: 500px;
  }
}

.hero__heading {
  color: $color-white;
  text-shadow: 0 1px 2px rgba(black, 0.8);

  @include media($tablet-up) {
    font-size: 3em;
  }
}

.text-center {
  text-align: center;
}

.text-split {
  @include media($tablet-up) {
    padding-right: $gutter;
    border-right: 4px solid $color-white;
  }
}

blockquote {
  position: relative;
  background: $color-white;
  padding: $gutter * 2;
  margin-bottom: $gutter * 2.5;

  &:before {
    position: absolute;
    top: 0;
    left: 20px;
    content: '\201C';
    font-size: 65px;
  }

  &:after {
    position: absolute;
    bottom: -36px;
    right: 20px;
    content: '\201D';
    font-size: 65px;
  }
}

.blockquote-triangle {
  position: absolute;
  top: 100%;
  right: $gutter * 2;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #ffffff transparent transparent;
}

.blockquote-attribution {
  text-align: right;
  font-style: italic;
  margin-right: 50px;
}
