@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";

@import "base/grid";

#logo {
  position: absolute;
  top: 0;
  left: $gutter;

  background-color: white;
  padding: 10px;
  z-index: 999;

  img {
    width: 150px;
  }

  @include media($mobile) {
    left: 50%;
    margin-left: -85px;
  }
}

.block {
  position: relative;
  padding: $base-spacing * 3 0;
  z-index: 2;

  &:before {
    $ratio: 80px;
    text-align: center;
    color: white;
    background-size: 16px 16px;
    line-height: $ratio;
    position: absolute;
    width: $ratio;
    height: $ratio;
    top: -$ratio / 2;
    left: 50%;
    margin-left: -$ratio / 2;
    border-radius: $ratio;
    background-color: white;
    font-weight: bold;
    font-size: 30px;
  }

  h2 {
    text-align: center;
  }

  @include media($mobile) {
    text-align: center;
  }
}

.block--one:before {
  content: '1';
}

.block--two:before {
  content: '2';
}

.block--three:before {
  color: $color-olive;
  content: '3';
}

.block--image {
  background: no-repeat center center;
  background-size: cover;
}

.block--cream {
  background-color: $color-cream;

  &:before {
    background-color: darken($color-cream, 5%);
  }
}

.block--navy {
  background-color: $color-navy;
  color: $color-white;

  &:before {
    background-color: darken($color-navy, 5%);
  }
}

.block--olive {
  background-color: $color-olive;
  color: $color-white;

  &:before {
    background-color: darken($color-olive, 5%);
  }
}

.block--donate {
  @include retina-image('donate-bg', cover, 'jpg', null, '-2x', true);
  color: $color-white;

  &:before {
    background-color: $color-olive;
  }
}

.block--form {
  padding: $base-spacing * 4 0;
  text-align: left;
}

.hero {
  position: relative;
  @include retina-image('hero', cover, 'jpg', null, '-2x', true);
  background-position: left bottom;
  min-height: 300px;
  text-align: center;

  @include media($tablet-up) {
    min-height: 400px;
  }

  &:before {
    display: none;
  }
}

.hero__heading {
  padding: $base-spacing 0;
  text-transform: uppercase;
  color: $color-white;
  text-shadow: 0 1px 2px rgba(black, 0.4);
  line-height: 1.1em;
  display: inline-block;

  @include media($tablet-up) {
    font-size: 3em;
    padding: 50px 60px;
    right: 10%;
    top: -$base-spacing;

    > span {
      // display: block;
    }
  }
}

.text-center {
  text-align: center;
}

.text-split {
  @include media($tablet-up) {
    padding-right: $gutter;
    border-right: 4px solid $color-white;
  }
}

blockquote {
  position: relative;
  background: $color-white;
  padding: $gutter * 2;
  margin-bottom: $gutter * 2.5;

  &:before {
    position: absolute;
    top: 0;
    left: 20px;
    content: '\201C';
    font-size: 65px;
  }

  &:after {
    position: absolute;
    bottom: -36px;
    right: 20px;
    content: '\201D';
    font-size: 65px;
  }
}

.blockquote-triangle {
  position: absolute;
  top: 100%;
  right: $gutter * 2;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #ffffff transparent transparent;
}

.blockquote-attribution {
  text-align: right;
  font-style: italic;
  margin-right: 50px;
}

iframe {
  clear: both;
  width: 100%;
  border: none;
}

.container--form {
  margin: 0 auto;

  @include media($tablet-up) {
    width: 600px;

  }

  iframe {
    height: 1030px;

    @include media($tablet-up) {
      height: 975px;
    }
  }
}

.hero__block {
  color: black;


  padding: 30px;
  background: rgba(white, 0.9);

  @include media($tablet-up) {
    width: 600px;
    margin: 0 auto;
  }
}

.loading {
  text-align: center;
  position: absolute;
  width: 100%;
}

.footer-logo {
  background-color: white;
  padding: 10px;
}

strong {
  font-weight: bold;
}
