<section class="block block--image block--donate">
  <div class="container">
    <div class="grid-item grid-4 grid--push-2">
      <%= link_to image_tag("logo-2x.png", width: 200, class: 'footer-logo'), 'http://www.natureconservancy.ca' %>
    </div>
    <div class="grid-item grid-4 grid--last">
      <strong>Contact us</strong>
      <div>
        nature@natureconservancy.ca<br/>
        Phone: 1-416-932-3202<br/>
        Toll-free: 1-800-465-0029<br/>
        Nature Conservancy of Canada<br/>
        36 Eglinton Avenue West, Suite 400<br/>
        Toronto, Ontario, Canada M4R 1A1<br/>
        <%= link_to 'Privacy Policy', 'http://www.natureconservancy.ca/en/privacy_policy.html' %>
      </div>
    </div>
  </div>
</section>
