<section class="block block--form">
  <div class="container">
    <label for='text_field'>Text field</label>
    <input type='text' id='text_field'>

    <label for='textarea'>Textarea</label>
    <textarea id='textarea'></textarea>

    <label for='select'>Select</label>
    <select id='select'>
      <option value="foo">Foo</option>
      <option value="bar">Bar</option>
    </select>

    <label for="radio_buttons">Radio Buttons:</label>
    <label>
      <input type="radio" class="radio" name="radio_button" value="radio_1"> Radio 1
    </label>
    <label>
      <input type="radio" class="radio" name="radio_button" value="radio_2"> Radio 2
    </label>
    <label>
      <input type="radio" class="radio" name="radio_button" value="radio_3"> Radio 3
    </label>

    <label for="checkboxes">Checkboxes:</label>
    <label>
      <input type="checkbox" class="checkbox" name="checkboxes" value="check_1"> Pledge 1
    </label>
    <label>
      <input type="checkbox" class="checkbox" name="checkboxes" value="check_2"> Pledge 2
    </label>
    <label>
      <input type="checkbox" class="checkbox" name="checkboxes" value="check_3"> Pledge 3
    </label>
  </div>
</section>
