---
title: Nature Conservancy of Canada
---

<section class="block block--image hero">
  <div class="container">
    <h1 class='hero__heading'>
      <span>Lend</span>
      <span>a</span>
      <span>hand </span>
      <span>for </span>
      <span>nature</span>
    </h1>
  </div>
</section>

<section class="block">
  <div class="container">
    <div class="grid-item grid-8 grid--push-2">
      <h2>Intro</h2>
      <p>
        Change can happen at all levels; from a community project, to a full on
        global movement–it all starts with a big heart and a helping hand. In
        the spirit of National Volunteer Week, the Nature Conservancy of Canada
        (NCC) is asking Canadians to lend their helping hands to support our
        country’s most sensitive natural spaces – with a commitment as simple as
        1, 2, 3!
      </p>
      <p>
        By volunteering, pledging your commitment or donating, you are helping
        protect Canada’s nature for now and for future generations.
      </p>
      <p>
        You have the opportunity to making change happen, so get started below
        and lend a hand for nature!
      </p>
    </div>
  </div>
</section>

<section class="block block--olive block--one">
  <div class="container">
    <div class="grid-item grid-8 grid--push-2">
      <h2>Volunteer</h2>
      <p>
        By signing up for an NCC Conservation Volunteers event, you will
        contribute to on-the-ground conservation work happening around you.
      </p>

      <div class="text-center">
        <%= link_to 'Sign up now', 'http://www.natureconservancy.ca/en/what-you-can-do/conservation-volunteers', class: 'btn btn--light' %>
      </div>
    </div>
  </div>
</section>

<section class="block block--navy block--two">
  <div class="container">
    <div class="grid-item grid-8 grid--push-2">
      <h2>Take the pledge</h2>
      <p>
        Lend a hand for nature on your own time, with the activities of your
        choice!  Pledge to complete up to 10 activities to throughout the spring
        season + receive access to free NCC Earth Day e-cards!
      </p>
      <div class="text-center">
        <%= link_to 'Take the pledge', '/pledge.html', class: 'btn btn--light' %>
      </div>
    </div>
  </div>
</section>

<section class="block block--cream block--three">
  <div class="container">
    <div class="grid-item grid-8 grid--push-2">
      <h2>Donate</h2>
      <p>
        Every donation – big and small – helps fund NCC’s critical conservation
        work from coast to coast. Just $5 will go a long way!
      </p>

      <div class="text-center">
        <%= link_to 'Donate now', 'https://donate.natureconservancy.ca/ea-action/action?ea.client.id=1803&ea.campaign.id=21474&_ga=1.267968654.1263474804.1423013933', class: 'btn' %>
      </div>
    </div>
  </div>
</section>

<section class="block block--image block--donate">
  <div class="container">
    FOOTER
  </div>
</section>
