---
title: Welcome to Middleman
---

<section class="block block--image hero">
  <div class="container">
    <h1 class='hero__heading'>Lend a hand for nature</h1>
  </div>
</section>


<section class="block">
  <div class="container">
    <div class="grid-item grid-8 grid--push-2">
      <h2>Intro</h2>
      <p><%= lorem.sentences 5 %></p>
    </div>
  </div>
</section>

<section class="block block--cream">
  <div class="container">
    volunteer
  </div>
</section>

<section class="block block--navy">
  <div class="container container--thirds">
    <div class="grid-item grid-4">
      At home
    </div>
    <div class="grid-item grid-4">
      Outside
    </div>
    <div class="grid-item grid-4">
      Community
    </div>

    <h1>WIDGET GOES HERE</h1>
  </div>
</section>

<section class="block block--olive">
  <div class="container">
    donate
  </div>
</section>

<section class="block">
  <div class="container">
    footer
  </div>
</section>
