---
title: Pledge - Nature Conservancy of Canada
---

<section class="block block--image hero hero--dark">
  <div class="container">
    <div class="hero__block">
      <h2>Take the pledge</h2>
      <p>
        Want to lend a hand for nature, but on your own time? No problem!
        Simply, select up to 10 of activities below, submit your pledge and get
        started!
      </p>
      <p>
        As an added bonus, you will receive access to free NCC Earth Day e-cards
        to send to your friends and family!
      </p>
    </div>
  </div>
</section>

<section class='block block--cream'>
  <div class="container container--form">
    <div class='loading'>Loading form...</div>
    <iframe title='Lend A Hand For Nature'
      src='http://www.e-activist.com/ea-action/widget?widgetId=3462'
      frameborder='0' scrolling='no'></iframe>
  </div>
</section>

<section class="block block--image block--donate">
  <div class="container">
    FOOTER
  </div>
</section>
